/*#360408  marron oscuro (letras)
#7b2f0e  marron menos oscuro
#c17a48 marron 
#dab897  marron clarito
#efe7dd   gris*/ 

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: 'Arial', sans-serif;
}

.añadir-animal {
  max-width: 600px; 
  margin: 20px auto; 
  text-align: center; 
  padding: 20px; 
  background-color: #c17a48; 
  border-radius: 12px;
  display: flex; 
  flex-direction: column;
  align-items: center; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
.formulario-animal label {
  margin-bottom: 5px;
  font-weight: bold; /* Negrita para las etiquetas */
}

.formulario-animal {
  margin-bottom: 8px; /* Espacio entre los campos */
  width: 100%; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.formulario-animal input, .formulario-animal select, .formulario-animal textarea { /*mismo estilo en el nombre, el tipo y la descripcion*/
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #dab897;
  border-radius: 5px;
  box-sizing: border-box;
}

.formulario-animal textarea {
  height: 100px; 
  resize: none; 
  overflow-y: auto; 
}

.añadir-boton {
  background-color: #7b2f0e; 
  color: #dab897; 
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 5px; 
  text-align: center;
  transition: background-color 0.3s ease;
}

.añadir-boton:hover {
  background-color: #360408;
  transform: scale(0.9);
}

.modal {
  display: flex; 
  position: fixed; 
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.5); 
}

.modal-contenido {
  background-color: #804b35; 
  margin: auto; 
  padding: 35px; 
  border: 1px solid #501b04; 
  width: 260px; 
  height: 70px;
  font-size: 20px;
  border-radius: 10px; 
  color: white;
}

.detalle-añadir{
  background-color: #7b2f0e; 
  color: #dab897; 
  border: none;
  float: center; 
  padding: 10px 20px;
  margin-left: 20px;
  font-size: 16px;
  align-items: center;
  cursor: pointer; 
  border-radius: 5px; 
  text-align: center;
}

.detalle-añadir:hover {
  background-color: #360408; 
  transform: scale(0.9);
}