<div class="animal-list">
    <p *ngIf="animales.length === 0" style="font-size: 30px;">Están todos los animales adoptados.
        <img src="https://png.pngtree.com/png-vector/20240623/ourmid/pngtree-portrait-of-happy-dog-and-cat-that-looking-at-the-camera-png-image_12828737.png" class="happy-dog">
    </p>
    <div class="overflow">
        <div class="animal-grid" *ngIf="animales.length > 0">
            <div class="animal-card" *ngFor="let animal of animales; let i = index">
                <h3>{{ animal.name }}</h3>
                <img [src]="animal.url" alt="Vista Previa de la Imagen" style="width: 85%;margin: 0 auto;text-align: center;"/>
                <p>Tipo: {{ animal.type }}</p>
                <p>Sexo: {{ animal.sexo }}</p>
                <p>Tamaño: {{ animal.tamanio }}</p>
                <!-- Descripción recortada -->
                <p>Descripción: {{ getShortDescription(animal.description, 50) }}</p>
                <div class="button-container">
                    <button (click)="deleteAnimal(i)">
                        Eliminar
                        <img src="https://cdn-icons-png.flaticon.com/512/860/860829.png" class="trash">
                    </button>
                    <button (click)="viewAnimal(animal.id)">Detalles</button>
                </div>
            </div>
        </div>
    </div>
</div>
