.animal-grid {
    display: grid; /* Usar grid para el contenedor */
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
    gap: 20px; /* Espacio entre los cuadrados */
    max-width: 1000px; /* Ancho máximo del contenedor */
    margin: 20px auto; /* Centrar el contenedor en la página */
}

.animal-card {
    background-color: #c17a48; /* Color de fondo de los cuadrados */
    border-radius: 12px; /* Bordes redondeados */
    padding: 20px; /* Espacio interno */
    text-align: center; /* Centrar texto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
    height: 450px; /* Altura fija para que todos los recuadros sean iguales */
    display: flex;
    overflow: hidden;
    flex-direction: column; /* Asegura que los elementos estén en columna */
    justify-content: space-between; /* Distribuye los elementos dentro de la tarjeta */
}

.animal-card h3 {
    margin: 0; /* Quitar margen superior e inferior */
    color: #360408; /* Color del texto del nombre */
}

.animal-card p {
    color: #5c3815; /* Color del texto del tipo */
    flex-grow: 1; /* Expande el contenido para ocupar el espacio disponible */
    overflow-y: auto; /* Añadir barra de desplazamiento si la descripción es larga */
    margin: 10px 0; /* Añadir margen entre elementos */
    max-height: 100px; /* Limitar la altura máxima del contenido para mantener todo controlado */
}

.animal-card button {
    background-color: #7b2f0e; /* Color del botón */
    color: #d4c4b4; /* Color del texto del botón */
    border: none;
    padding: 15px 20px; /* Ajustar tamaño del botón */
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer; /* Cambiar cursor a mano al pasar */
    transition: background-color 0.3s ease; /* Transición suave */
}

.animal-card button:hover {
    background-color: #360408; /* Color al pasar el ratón */
    transform: scale(0.9);
}

.happy-dog {
    height: 500px;
    margin-top: 150px;
}

.trash {
    width: 25px; /* Ajusta el ancho del icono de la basura */
    height: 25px; /* Ajusta la altura del icono de la basura */
    margin-right: 5px; /* Espacio entre el icono y el texto del botón */
    vertical-align: middle; /* Alinea el icono verticalmente en el medio */
}

.overflow {
    overflow: auto;
    height: 750px;
}

.button-container {
    display: flex; /* Usar flexbox para el contenedor de botones */
    justify-content: space-between; /* Espacio entre los botones */
    width: 100%; /* Tomar el ancho completo de la tarjeta */
    margin-top: 10px; /* Añadir espacio entre el contenido y los botones */
}
