<div class="overflow">
  <div class="animal-grid" *ngIf="animales.length > 0">
    <div class="carta-animal" *ngFor="let animal of animales; let i = index">
      <h3>{{ animal.nombre }}</h3>
      <img [src]="animal.foto_url" alt="Vista Previa de la Imagen" style="width: 85%; margin: 0 auto; text-align: center;"/>
      <p><strong>Tipo:</strong> {{ getTipoNombre(animal.tipo_id) }}</p> <!-- Ahora mostramos 'tipo_nombre' -->
      <p><strong>Sexo:</strong>  {{ animal.sexo }}</p>
      <p><strong>Tamaño:</strong>  {{ animal.tamanio }}</p>
      <p><strong>Descripción:</strong> {{ acortarDescripcion(animal.descripcion || '', animal.foto_url.length > 100) }}</p>
      
      <div class="grupo-botones">
        <button (click)="eliminarAnimal(animal.animal_id)">
          Eliminar
          <img src="https://cdn-icons-png.flaticon.com/512/860/860829.png" class="basura">
        </button>

        <div class="modal" *ngIf="mostrarModal">
          <div class="modal-contenido">
            <p>{{ modalMensaje }}</p>
            <button class="detalles-boton" (click)="confirmarEliminacion()">Aceptar</button>
            <button class="detalles-boton" (click)="cerrarModal()">Cerrar</button>
          </div>
        </div>

        <button (click)="viewAnimal(animal.animal_id)">Detalles</button> 
      </div>
    </div>
  </div>
</div>
