.detalles-animal {
  background-color: #c17a48;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: auto;
}

.elemento-detalles {
  display: flex;
  flex-direction: column;
}

.elemento-detalles {
  margin-bottom: 15px;
  width: 100%;
}

.elemento-detalles label {
  font-weight: bold;
}
.animal {
  display: flex; /* Usar flexbox para alinear los elementos horizontalmente */
  align-items: center; /* Alinear verticalmente el contenido al centro */
  width: 100%;
}

.animal-url {
  width: 600px; /* Fijar el tamaño de la imagen */
}

.animal-nombre {
  margin-left: -120px; 
}

.animal .animal-nombre input {
  font-size: 20px;
  width: 100%;
  background: none;
  border: none;
  color: black;
}

.elemento-detalles select, .elemento-detalles textarea {
  font-size: 16px;
  padding: 5px;
  border: 1px solid #dab897;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

textarea {
  height: 100px;
  resize: none;
}

.contenedor-modal {
  display: flex;
  justify-content: space-between;
}

.volver-boton, .editar-boton {
  background-color: #7b2f0e;
  color: #d4c4b4;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
}

.editar-boton:hover, .volver-boton:hover {
  background-color: #360408;
}